.Overlay {
	background-color: var(--color-overlay);
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  /* z-index: 11; */
}

.Content {
	background-color: var(--color-secondary-contrast);
	border-radius: var(--radius-md);
	box-shadow: var(--shadow-6);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 600px;
  height: 545px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	&:focus {
		outline: none;
	}
	overflow: auto;
	scrollbar-width: thin;
}

.Title {
	display: flex;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  border-bottom: 1px solid var(--borderColour, rgba(204, 204, 204, 1))
}

.TitleHeading {
  font-weight: 600;
  font-size: 25px;
  color: var(--color-primary-main);
  flex-grow: 1;
}

.Body {
  display: flex;
  flex-direction: column;
	gap: var(--spacing-md);
  padding: 25px;
}

.AvatarSection {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.Form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
}

.FormSection {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.FormLabel {
	font-weight: 400;
	font-size: var(--font-size-sm);
}

.RequiredField {
	color: #C94A45
}

.FormInput {
	height: 33px;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 12px;
	border-radius: var(--radius-md);
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-border-dark);
}

.FormFieldError {
	border-color: var(--color-error-main);
	background: var(--color-error-light);
}

.Footer {
  display: flex;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  border-top: 1px solid var(--borderColour, rgba(204, 204, 204, 1))
}

.SubmitButton {
	gap: 5px;
}

.SubmitButtonDisabled {
	background-color: var(--color-background-disabled);
	color: var(--color-text-disabled);
	cursor: not-allowed;
}

.CancelButton {
	background: var(--color-secondary-contrast);
	color: var(--color-text-label);
	border-width: 1px;
	border-color: var(--color-border-dark);
	border-style: solid;
}

.IconButton {
  border: none;
	background-color: transparent;
  cursor: pointer;
	padding-left: auto;
	padding-right: 0;
}

.Icon {
  height: 20px;
	width: 20px;
	color: var(--color-secondary-main);
}

.Fieldset {
	all: unset;
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 15px;
}

.Label {
	font-size: 15px;
	color: var(--violet-11);
	width: 90px;
	text-align: right;
}

.ErrorLabel {
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-normal);
	color: var(--color-error-main)
}


.Input {
	all: unset;
	width: 100%;
	flex: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 1;
	color: var(--violet-11);
	box-shadow: 0 0 0 1px var(--violet-7);
	height: 35px;
	&:focus {
		box-shadow: 0 0 0 2px var(--violet-8);
	}
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
